


html {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

p {
    margin-right: 2em;
    font-weight: bold;
    font-size: 0.9em;
    font-weight: 500;
}

button {
    background-color: white;
    border-radius: 30px;
    padding: 0px 1.5em;
    height: 2.5em;
    border: 2px solid black;
    font-size: 0.8em;
    width: 8em;
}

div#navbar-left img {
    width: 8em;
}

@media (width >= 2500px) {
    html {
        font-size: 28px;
    }
}

@media (width >= 3500px) {
    html {
        font-size: 32px;
    }
}

.container {
    text-align: center;
  }
  
  .button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    border: 2px solid;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .button-white {
    background-color: #fff;
    color: #000;
    border-color: #000;
  }
  
  .button-purple {
    color: #8a63d2;
    border-color: #8a63d2;
  }
  
  .button:hover {
    color: #fff;
  }
  
  .button.button-white:hover {
    background-color: #000;
  }
  
  .button.button-purple:hover {
    background-color: #8a63d2;
  }
  
  .button i {
    margin-left: 5px;
  }